*{
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face{
    src: url('./julietta-messie/Julietta-Messie-Demo.ttf');
    font-family: julie
}

html{
    background-image: linear-gradient(245deg, #FFFFFF,#FFFFFF, rgb(250, 229, 176));
    height: 100vh;
    color: gray;
}

h1{
    font-family: julie;
}

img{
    width: 200px;
    height: 200px;
    margin: 25px 25px;
}

.linkedPage{
    color:#2f0a00;
    text-decoration: none;
    padding: 45px;
    font-size: 40px;
    font-family: julie;
    transition: color 0.35s linear;
}

.linkedPage:hover{
    color: #FFFFFF;
}

.homeLink{
    color:#2f0a00;
    text-decoration: none;
    transition: color 0.4s linear;
    font-family: julie;
}

.homeLink:hover{
    color: #FFFFFF;
}

.linkedAuth{
    text-decoration: none;
}

.centerTitle{
    text-align: center;
    margin-left: 200px;
}

.centerText{
    text-align: center;
}
